* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 85%;
    margin: auto;
}

.header {
    background-color: white;
    padding: 20px 0px;
}

.header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .list {
    display: flex;
    list-style: none;
}

.list li a {
    text-decoration: none;
    color: black;
    padding-right: 100px;
    font-size: 15px;
    font-weight: 600;
}

.icons i {
    margin: 20px;
    cursor: pointer;
}

.main {
    background: url("./images/pie2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.main_text {
    text-align: center;
}

.text p {
    color: white;
    font-size: 55px;
    line-height: 80px;
    font-weight: 600;
    padding-top: 220px;
}

.text button {
    width: 170px;
    height: 50px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 50px 15px;
    cursor: pointer;
}

.text .button_one {
    color: white;
    background-color: #2888e2;
    border: 1px solid #2888e2;
}

.text .button_one:hover {
    background-color: #3e9df6;
}

.text .button_one:active {
    transform: scale(0.90);
}

.text .button_two {
    color: #2888e2;
    background-color: white;
    border: 1px solid white;
}

.text .button_two:hover {
    background-color: #d8dde3;
}

.text .button_two:active {
    transform: scale(0.90);
}

.buttons button {
    width: 14px;
    height: 14px;
    border: none;
    border-radius: 100%;
    margin-top: 150px;
}

.about {
    background: url("./images/pie3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
}

.home {
    display: flex;
    padding-top: 120px;
}

.home>div {
    width: 50%;
}

.page h1 {
    color: #333333;
    font-size: 37px;
    letter-spacing: 2px;
    font-weight: 600;
    padding-bottom: 40px;
}

.page p {
    width: 590px;
    height: 130px;
    font-size: 16px;
    line-height: 26px;
    color: #7f7f7f;
    text-align: left;
}

.page button {
    color: white;
    background-color: #2888e2;
    border: 1px solid #2888e2;
    width: 130px;
    height: 50px;
}

.page button:hover {
    background-color: #7bc6ef;
}

.page button:active {
    transform: scale(0.90);
}

.photo img {
    height: 400px;
}

.great_advantages {
    background: url("./images/black.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
}

.advantages {
    display: flex;
    padding-top: 120px;
}

.advantages>div {
    width: 50%;
}

.great h1 {
    font-size: 30px;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 600;
}

.great h5 {
    font-size: 16px;
    letter-spacing: 1px;
    color: #959595;
    font-weight: 600;
}

.great p {
    width: 453px;
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #959595;
    padding-top: 40px;
}

.great ul {
    margin-top: 20px;
}

.great li {
    font-size: 16px;
    line-height: 20px;
    color: #959595;
    font-weight: 600;
    list-style: none;
    padding-top: 20px;
}

.great button {
    width: 130px;
    height: 45px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #ffffff;
    background-color: #2888e2;
    border: 1px solid #2888e2;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

.great button:hover {
    background-color: #7bc6ef;
}

.great button:active {
    transform: scale(0.90);
}

.photo_girl img {
    height: 620px;
    position: relative;
    bottom: 120px;
    left: 30px;
}

.services {
    background: url("./images/pie4.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.information {
    background-color: #2888e2;
    height: 80px;
    padding-top: 30px;
}

.offer h1 {
    font-size: 30px;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
}

.box_top {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10%;
}

.box_one i,
.box_two i,
.box_three i {
    margin-left: 160px;
    margin-bottom: 30px;
    transform: scale(2);
    cursor: pointer;
}

.box_one h2,
.box_two h2,
.box_three h2 {
    font-size: 22px;
    letter-spacing: 1px;
    color: #666666;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
}

.box_one p,
.box_two p,
.box_three p {
    width: 330px;
    font-size: 16px;
    line-height: 20px;
    color: #666666;
    font-weight: 500;
    text-align: center;
}

.box_bottom {
    display: flex;
    justify-content: space-evenly;
    padding-top: 8%;
}

.box_four i,
.box_five i,
.box_six i {
    margin-left: 160px;
    margin-bottom: 30px;
    transform: scale(2);
    cursor: pointer;

}

.box_four h2,
.box_five h2,
.box_six h2 {
    font-size: 22px;
    letter-spacing: 1px;
    color: #666666;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
}

.box_four p,
.box_five p,
.box_six p {
    width: 330px;
    font-size: 16px;
    line-height: 20px;
    color: #666666;
    font-weight: 500;
    text-align: center;
}

.portfolio {
    background: url("./images/pie5.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1450px;
}

.card h1 {
    font-size: 30px;
    letter-spacing: 2px;
    color: #333333;
    font-weight: 600;
    text-align: center;
    padding-top: 70px;
}

.card ul {
    display: flex;
    list-style: none;
    padding-left: 27%;
    gap: 50px;
}

.card li a {
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 100px;
    text-transform: uppercase;
    color: #666666;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

.cards_one,
.cards_two,
.cards_three {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.card_one,
.card_two,
.card_three {
    background-color: rgb(241, 241, 241);
    width: 358px;
    height: 380px;
}

.card_one h3,
.card_two h3,
.card_three h3 {
    font-size: 16px;
    letter-spacing: 1px;
    color: #2a2a2a;
    font-weight: 600;
}

.card_one p,
.card_two p,
.card_three p {
    width: 119px;
    height: 16px;
    font-size: 13px;
    letter-spacing: 1px;
    color: #7f7f7f;
    font-weight: 600;
}

.card_one i,
.card_two i,
.card_three i {
    margin-right: 50px;
}

.card_four,
.card_six {
    background-color: rgb(241, 241, 241);
    width: 358px;
    height: 380px;
}

.card_four h3,
.card_six h3 {
    font-size: 16px;
    letter-spacing: 1px;
    color: #2a2a2a;
    font-weight: 600;
}

.card_four p,
.card_six p {
    width: 119px;
    height: 16px;
    font-size: 13px;
    letter-spacing: 1px;
    color: #7f7f7f;
    font-weight: 600;
}

.card_four i,
.card_five i,
.card_six i {
    margin-right: 50px;
}

.card_five {
    background-color: rgb(39, 135, 225);
    width: 358px;
    height: 380px;
}

.card_five h3 {
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 600;
}

.card_five p {
    width: 119px;
    height: 16px;
    font-size: 13px;
    letter-spacing: 1px;
    color: #eaeaea;
    font-weight: 600;
}

.card_six {
    background-color: rgb(241, 241, 241);
    width: 358px;
    height: 380px;
}

.card_six h3 {
    font-size: 16px;
    letter-spacing: 1px;
    color: #2a2a2a;
    font-weight: 600;
}

.card_six p {
    width: 119px;
    height: 16px;
    font-size: 13px;
    letter-spacing: 1px;
    color: #7f7f7f;
    font-weight: 600;
}

.card_six i {
    margin-right: 50px;
}

.card_seven,
.card_eight,
.card_nine {
    background-color: rgb(241, 241, 241);
    width: 358px;
    height: 380px;
}

.card_seven h3,
.card_eight h3,
.card_nine h3 {
    font-size: 16px;
    letter-spacing: 1px;
    color: #2a2a2a;
    font-weight: 600;
}

.card_seven p,
.card_eight p,
.card_nine p {
    width: 119px;
    height: 16px;
    font-size: 13px;
    letter-spacing: 1px;
    color: #7f7f7f;
    font-weight: 600;
}

.card_seven i,
.card_eight i,
.card_nine i {
    margin-right: 50px;
}

.work_hard {
    background: url("./images/pie6.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    padding-top: 200px;
    box-sizing: border-box;
}

.dream_big {
    background-color: rgb(0, 0, 0, 0.5);
    width: 50%;
    height: 200px;
    color: white;
    margin-left: 350px;
}

.work h1 {
    font-size: 25px;
    letter-spacing: 9px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
}

.work p {
    width: 603px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
    padding-left: 60px;
}

.work pre {
    font-size: 13px;
    letter-spacing: 5px;
    line-height: 20px;
    color: #2888e2;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
}

.sign {
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.sign_left i {
    position: absolute;
    left: -60px;
    top: -50px;
}

.sign_left i:hover {
    background-color: #717272;
}

.sign_left i:active {
    transform: scale(0.90);
}

.sign_right i {
    position: absolute;
    right: -60px;
    top: -50px;
}

.sign_right i:hover {
    background-color: #717272;
}

.sign_right i:active {
    transform: scale(0.90);
}

.talented {
    background: url("./images/pie7.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.team h1 {
    font-size: 30px;
    letter-spacing: 2px;
    color: #333333;
    font-weight: 400;
    text-align: center;
    padding-top: 60px;
}

.team p {
    font-size: 15px;
    letter-spacing: 1px;
    color: #959595;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
}

.photo_team {
    display: flex;
    justify-content: space-evenly;
    margin-top: 170px;
}

.team_one,
.team_three {
    background-color: rgb(255, 255, 255);
    position: relative;
}

.rectangle_one,
.rectangle_three {
    background-color: rgb(35, 49, 48);
    width: 365px;
    height: 270px;

}

.rectangle_one h1,
.rectangle_three h1 {
    font-size: 16px;
    letter-spacing: 1px;
    color: #2888e2;
    font-weight: 600;
    text-align: center;
    padding-top: 275px;
}

.rectangle_one p,
.rectangle_three p {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 40px;
    color: #666666;
    font-weight: 300;
    text-align: center;
}

.rectangle_one img {
    position: absolute;
    top: -100px;
    left: 50px;
}

.team_two {
    background-color: rgb(255, 255, 255);
    width: 365px;
    height: 340px;
    position: relative;
}

.rectangle_two {
    background-color: rgb(39, 135, 225);
    width: 365px;
    height: 270px;
}

.talented_icons {
    display: flex;
    justify-content: center;
    padding-top: 300px;
}

.rectangle_two img {
    position: absolute;
    bottom: 68px;
}

.rectangle_three img {
    position: absolute;
    top: -100px;
    left: 20px;
}

.team_icons {
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.icon_one i {
    position: absolute;
    left: 20px;
    top: -170px;
}

.icon_one i:hover {
    background-color: #3785eb;
}

.icon_one i:active {
    transform: scale(0.90);
}

.icon_two i {
    position: absolute;
    right: 20px;
    top: -170px;
}

.icon_two i:hover {
    background-color: #3785eb;
}

.icon_two i:active {
    transform: scale(0.90);
}

.ceo {
    background-color: #2888e2;
    height: 350px;
    margin-top: 40px;
    display: flex;
}

.ceo>div {
    width: 50%;

}

.ceo_info {
    color: rgb(239, 237, 237);
    padding-left: 300px;
    padding-top: 100px;
    letter-spacing: 1px;
    font-weight: 500;
}

.ceo_info h1 {
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.ceo_info h3 {
    font-size: 14px;
    padding-bottom: 30px;

}

.ceo_info p {
    font-size: 15px;
    line-height: 20px;
}

.interest img {
    width: 400px;
    height: 200px;
    padding-top: 80px;
}

.customer {
    background: url("./images/customer.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    margin-top: 300px;
}

.reviews {
    color: white;
}

.out h1 {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 300;
    text-align: center;
    padding-top: 80px;
}

.out p {
    font-size: 15px;
    letter-spacing: 1px;
    color: #959595;
    font-weight: 500;
    text-align: center;
    padding-top: 10px;
}

.out_photo {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 90px;
    cursor: pointer;
}

.out_icons {
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.out_one i {
    position: absolute;
    left: 80px;
    top: -100px;
}

.out_one i:hover {
    background-color: #3785eb;
}

.out_one i:active {
    transform: scale(0.90);
}

.out_two i {
    position: absolute;
    right: 80px;
    top: -100px;
}

.out_two i:hover {
    background-color: #3785eb;
}

.out_two i:active {
    transform: scale(0.90);
}

.out h2 {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: italic;
    font-family: "Open Sans";
    text-align: center;
    margin-top: 80px;
}

.quote_icons {
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.quote_one i {
    position: absolute;
    left: 120px;
    top: -80px;
}

.quote_two i {
    position: absolute;
    right: 430px;
    top: -30px;
}

.out pre {
    font-size: 18px;
    color: #2888e2;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    margin-top: 40px;
}

.business {
    background-color: rgb(39, 135, 225);
    height: 130px;
}

.part {
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Open Sans";
    padding-top: 50px;
}

.part h1 {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 300;
}

.part button {
    color: white;
    background-color: rgb(39, 135, 225);
    width: 180px;
    height: 50px;
    border: 1px solid white;
    font-size: 16px;
    margin-left: 50px;
    cursor: pointer;
}

.part button:hover {
    background-color: #4b94f4;
}

.part button:active {
    transform: scale(0.90);
}

.pricign_table {
    background: url("./images/pie8.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

.table h1 {
    font-size: 30px;
    letter-spacing: 2px;
    color: #333333;
    font-weight: 300;
    font-family: "Open Sans";
    text-align: center;
    padding-top: 80px;
}

.table p {
    font-size: 15px;
    letter-spacing: 1px;
    color: #959595;
    font-family: "Roboto";
    text-align: center;
    padding-top: 10px;
}

.stand_box {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.standart,
.ultimate {
    height: 720px;
    margin-top: 80px;
}

.premium {
    height: 750px;
    margin-top: 50px;
}

.standart,
.premium,
.ultimate {
    background-color: rgb(255, 255, 255);
    width: 350px;
    border-radius: 10px;
    text-align: center;
}

.popular_one h1 {
    background-color: #e5416b;
}

.popular_two h1 {
    background-color: #2180c8;
}

.popular_three h1 {
    background-color: #47ad99;
}

.popular_one h1,
.popular_two h1,
.popular_three h1 {
    color: white;
    padding: 20px;
    font-size: 20px;
    font-family: "Open Sans";
}

.month_one {
    background-color: #ee537a;
}

.month_two {
    background-color: #537fee;
}

.month_three {
    background-color: #69ceba;
}

.month_one {
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.month_two {
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.month_three {
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.month_one .money_one,
.month_two .money_two,
.month_three .money_three {
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Roboto";
}

.month_one .number_one,
.month_two .number_two,
.month_three .number_three {
    font-size: 60px;
    letter-spacing: 3px;
    font-family: "Roboto";
}

.month_one .time_one,
.month_two .time_two,
.month_three .time_three {
    font-size: 16px;
    letter-spacing: 3px;
    font-family: "Roboto";
    padding-top: 40px;
}

.features_one h1,
.features_two h1,
.features_three h1 {
    color: #333333;
    padding: 20px;
    font-size: 20px;
    line-height: 32px;
    font-family: "Open Sans";
}

.features_one ul,
.features_two ul,
.features_three ul {
    list-style: none;
    width: 300px;
    margin: auto;
}

.features_one li,
.features_two li,
.features_three li {
    font-size: 17px;
    color: #3d3d3d;
    padding: 11px;
    margin-bottom: 4px;
    border-radius: 4px;
}

.list_info_one,
.list_info_two,
.list_info_three {
    background-color: rgb(239, 238, 238);
}

.features_one button {
    background-color: #e5416b;
}

.features_two button {
    background-color: #2180c8;
}

.features_three button {
    background-color: #47ad99;
}

.features_one button,
.features_two button,
.features_three button {
    color: #ffffff;
    width: 250px;
    height: 45px;
    border: none;
    font-size: 22px;
    font-family: "Open Sans";
    cursor: pointer;
}

.button_features_one:hover {
    background-color: #cb3259;
}

.button_features_one:active {
    transform: scale(0.90);
}

.popular h1 {
    background-color: rgb(255, 255, 255);
    color: #2888e2;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: "Open Sans";
}

.button_features_two:hover {
    background-color: #2888e2;
}

.button_features_two:active {
    transform: scale(0.90);
}

.button_features_three:hover {
    background-color: #32cb84;
}

.button_features_three:active {
    transform: scale(0.90);
}

.twitter_update {
    background: url("./images/pie9.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.check {
    display: flex;
    justify-content: center;

}

.twitter .twitter_icon i {
    font-size: 35px;
    margin-top: 20%;
    margin-left: 50%;
    cursor: pointer;
}

.twitter p {
    font-size: 25px;
    line-height: 36px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
}

.link {
    color: #ffffff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.blog_info {
    background: url("./images/pie10.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1400px;
}

.blog {
    letter-spacing: 2px;
    font-family: "Open Sans";
    text-align: center;
    padding-top: 5%;
}

.blog h1 {
    font-size: 30px;
    color: #333333;
    font-weight: 300;
}

.blog p {
    font-size: 15px;
    color: #959595;
    font-weight: 300;
    padding-top: 1%;
}

.latest_box_one,
.latest_box_two {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.from_one,
.from_two,
.from_three,
.from_four,
.from_five,
.from_six {
    background-color: #ffffff;
    width: 380px;
    height: 460px;
}

.blog_one img,
.blog_two img,
.blog_three img,
.blog_four img,
.blog_five img,
.blog_six img {
    width: 380px;
    cursor: pointer;
}

.blog_one h1,
.blog_two h1,
.blog_three h1,
.blog_four h1,
.blog_five h1,
.blog_six h1 {
    font-size: 16px;
    letter-spacing: 1px;
    color: #202020;
    font-weight: 400;
    font-family: "Open Sans";
    margin-top: 20px;
    padding-left: 20px;
}

.blog_one h4,
.blog_two h4,
.blog_three h4,
.blog_four h4,
.blog_five h4,
.blog_six h4 {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #5a5a5a;
    font-weight: 300;
    font-family: "Open Sans";
    margin-top: 5px;
    padding-left: 20px;
}

.blog_one p,
.blog_two p,
.blog_three p,
.blog_four p,
.blog_five p,
.blog_six p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #666666;
    font-weight: 300;
    font-family: "Open Sans";
    margin-top: 20px;
    padding-left: 20px;
}

.blog_button button {
    color: #2a96fc;
    background-color: #ffffff;
    border: 1px solid #0284c7;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 100px;
    margin-left: 600px;
}


.blog_button:active {
    transform: scale(0.95);
}

.contact_us {
    background: url("./images/pie11.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.contact h1 {
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 300;
    font-family: "Open Sans";
    text-align: center;
    padding-top: 100px;
}

.contact p {
    color: #cdcccc;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    font-family: "Open Sans";
    text-align: center;
    padding-top: 10px;
}

.contact_info {
    width: 50%;
    padding: 40px;
    margin-top: 40px;
    margin-left: 250px;
}

.id_name {
    margin-bottom: 30px;
}

.id_name input,
.id_name textarea {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid white;
    width: 100%;
    padding: 20px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}

.footer {
    background: url("./images/pie12.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.footer_logo img {
    padding-top: 200px;
    padding-left: 40px;
}

.about_us {
    display: flex;
}

.about_info {
    margin-top: 100px;
    margin-left: 100px;
}

.about_info h2 {
    font-size: 27px;
    color: #ffffff;
    font-family: "Open Sans";
}

.about_info p {
    font-size: 20px;
    color: #a2a5a9;
    font-family: "Open Sans";
    padding-top: 20px;
}

.contact_about {
    display: flex;
    color: #a2a5a9;
    margin-top: 20px;
}

.contact_about i {
    font-size: 22px;
    cursor: pointer;
}

.contact_about span {
    padding-left: 20px;
    font-size: 20px;
    letter-spacing: 1px;
}

.recent_work {
    margin-top: 100px;
}

.recent {
    position: relative;
    left: 100px;

}

.recent h2,
.help h2 {
    font-size: 27px;
    color: #ffffff;
    font-family: "Open Sans";
}

.recent_photo_one img,
.recent_photo_two img,
.recent_photo_three img {
    width: 100px;
    height: 70px;
}

.need_help {
    margin-top: 100px;
}

.help {
    margin-left: 250px;
}

.help_link {
    list-style: none;
    margin-bottom: 25px;
}

.help_link li {
    margin-bottom: 15px;
}

.help_link a {
    color: #a2a5a9;
    text-decoration: none;
}

.help_link a:hover {
    color: #29b6f6;
}

.help_icon {
    cursor: pointer;
}